<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXVzcNTfy7imJO-SQd1Z0UIAj98-F2XfM</string>
	<key>GCM_SENDER_ID</key>
	<string>728878743740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammetemrekemanci.Pigeon</string>
	<key>PROJECT_ID</key>
	<string>pigeon-d7730</string>
	<key>STORAGE_BUCKET</key>
	<string>pigeon-d7730.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728878743740:ios:931556c5bd638c9a4310b9</string>
</dict>
</plist>